@import "../../../../assets/styles/abstracts/_variables";

.header {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);

  .menu {
    &__icon {
      transform: translateY(-2px);

      &:hover {
        color: $color-action-hover;
      }
    }
  }

  .title {
    margin-left: 1%;
    width: 80%;
  }
}
