<header class="header">
  <mat-toolbar
    color="primary"
    class="header mat-elevation-z6"
    *ngIf="showHeader"
  >
    <mat-toolbar-row>
      <button class="menu" mat-icon-button (click)="toggleSidebar()">
        <i class="material-icons menu__icon">
          menu
        </i>
      </button>
      <span class="title">Github Explorer</span>
      <button
        class="action"
        mat-flat-button
        color="primary"
        (click)="changeUser()"
      >
        <i class="material-icons"> directions_run </i>&nbsp;Change User
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
