@import "../../../../assets/styles/abstracts/_variables";

.header {
  top: 0;
  position: fixed;
  width: 100%;
  // box-shadow: 0 2px 20px rgba(0, 0, 0, 0.8);\
  border-bottom: 1px solid black;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);

  .menu {
    &__icon {
      transition: 0.2s all;
      transform: translateY(-2px);

      &:hover {
        color: $color-action-hover;
      }
    }
  }

  .title {
    margin-left: 1%;
    width: 80%;
  }

  .action {
    transition: 0.2s all;

    &:hover {
      color: $color-action-hover;
    }
  }
}
