<section class="main">
  <div class="container">
    <h1 class="container__title heading-h1">
      Github Explorer
    </h1>
    <div class="container__content">
      <form action="" class="form">
        <mat-form-field>
          <input matInput placeholder="Github Username" />
        </mat-form-field>
        <div class="form__actions">
          <button class="action" mat-raised-button color="primary">
            Explore!
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
