<section class="main">
  <div class="container">
    <h1 class="container__title heading-h1">
      Github Explorer
    </h1>
    <div class="container__content">
      <form
        class="form"
        [formGroup]="githubUsernameForm"
        (submit)="getUser()"
        novalidate
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Github Username"
            formControlName="username"
          />
        </mat-form-field>
        <div class="form__actions">
          <button
            class="action"
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="githubUsernameForm.invalid"
          >
            <span *ngIf="!isLoading">Explore 🔍</span>
            <app-loader [size]="30" *ngIf="isLoading"></app-loader>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
