.profile {
  margin-top: 5.37rem;

  &__info-bar {
    padding: 0;

    .title {
      margin-left: 3.4rem;
    }
  }

  &__container {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    padding: 5rem;

    .container-left {
      width: 20%;
    }
    .container-right {
      width: 80%;
    }
  }
}
