@import '../../assets/styles/abstracts/mixins';
@import '../../assets/styles/components/skeleton';

.profile {
  margin-top: 64px;

  &:empty {
    @include skeleton;
  }

  &__info-bar {
    padding: 0;

    .title {
      margin-left: 3.4rem;

      &:empty {
        @include skeleton;
      }
    }

    &:empty {
      @include skeleton;
    }
  }

  &__container {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;

    padding: 2rem 5rem;

    @include respond(phone) {
      // width < 600?
      flex-direction: column;
    }

    @include respond(tab-port) {
      // width < 900?
      padding: 2rem 3rem;
    }

    @include respond(tab-land) {
      // width < 1200?
      padding: 2rem 4rem;
    }

    .container-left {
      width: 18rem;

      &:empty {
        @include skeleton;
      }
    }
    .container-right {
      flex: 1;

      &:empty {
        @include skeleton;
      }
    }
  }
}
