<section class="profile">
  <mat-toolbar color="primary" class="profile__info-bar">
    <mat-toolbar-row>
      <span class="title">Github Profile: {{ user.name }}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="profile__container">
    <div class="container-left">
      <app-profile-details #userDetails [user]="user"></app-profile-details>
    </div>
    <div class="container-right">
      <app-loader
        class="loader"
        [size]="30"
        *ngIf="!userDetails.user"
      ></app-loader>
      <router-outlet *ngIf="userDetails.user"></router-outlet>
    </div>
  </div>
</section>
