@import '../../../assets/styles/abstracts/mixins';
@import '../../../assets/styles/components/skeleton';

.repository {
  width: 27rem;
  margin: 1rem;

  @include respond(tab-port) {
    // width < 900px?
    margin: 0.3rem;
  }

  @include respond(tab-land) {
    // width < 1200?
    margin: 0.5rem;
  }

  @media only screen and (min-width: 1333px) {
    // width < 1200?
    flex-grow: 1;
  }

  &__header {
    .title {
      color: red;
      font-size: 1.9rem;
    }

    &:empty {
      @include skeleton;
    }
  }

  &__avatar-owner {
    flex: 1;
    min-height: 27rem;

    @include respond(tab-land) {
      // width < 1200?
      min-height: 24rem;
    }

    &:empty {
      @include skeleton;
    }
  }

  &__description {
    min-height: 8rem;
    max-height: 8rem;
    word-wrap: break-word;

    &:empty {
      @include skeleton;
    }

    @include respond(phone) {
      // width < 600?
      min-height: 14rem;
      max-height: 14rem;
    }

    @include respond(tab-port) {
      // width < 900?
      min-height: 12rem;
      max-height: 12rem;
    }

    @include respond(tab-land) {
      // width < 1200?
      min-height: 11rem;
      max-height: 11rem;
    }
  }

  &__actions {
  }
}
