<ng-container *ngFor="let repository of repositories" class="repositories-list">
  <mat-card class="repository">
    <div mat-card-header class="repository__header">
      <!-- <div mat-card-avatar class="repository__header-image"></div> -->
      <mat-card-title class="title" matTooltip="{{ repository.name }}">{{
        repository.name.length > 26
          ? repository.name.slice(0, 23) + '...'
          : repository.name
      }}</mat-card-title>
      <mat-card-subtitle *ngIf="type === 'starred'"
        >author:&nbsp;{{ repository.owner.login }}</mat-card-subtitle
      >
    </div>
    <img
      *ngIf="type === 'starred'"
      class="repository__avatar-owner"
      mat-card-image
      [src]="repository.owner.avatar_url"
      alt="Repository Owner"
      Lazyloading
    />
    <mat-card-content>
      <p class="repository__description" *ngIf="repository.description">
        {{
          repository.description.length > 170
            ? repository.description.slice(0, 160) + '...'
            : repository.description
        }}
      </p>
      <p class="repository__description" *ngIf="!repository.description">
        Empty description 😕
      </p>
    </mat-card-content>
    <mat-card-actions class="repository__actions">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let repository of repositories; let i = index">
    <li>{{ repository.name }}</li>
  </div>
</cdk-virtual-scroll-viewport>
 -->
