.repository {
  width: 27rem;
  margin: 1rem;

  &__header {
    .title {
      color: red;
      font-size: 1.9rem;
    }
  }

  &__avatar-owner {
    flex: 1;
    min-height: 27rem;
  }

  &__description {
    min-height: 8rem;
    max-height: 8rem;
    word-wrap: break-word;
  }

  &__actions {
  }
}
